body{
    background-color: gray;
}
#clicker{
background-color: limegreen;
    color: white;
    border-radius: 12px;
    margin: auto;
    display: block;

}
#multi{
border-radius: 12px;
   margin: auto;
    display: block;
}
#auto{
border-radius: 12px;
    margin: auto;
    display: block;
}
#reset{
color: red;
    background-color: black;
    border-radius: 12px;
    margin: auto;
    display: block;
}
h1{
   color: yellow;
}
h2{
    color: yellow;
}